.preloader-container {
  opacity: 0;

  /*position: absolute;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/

  height: 100%;
  width: 100%;

  z-index: 2;
}

.preloader-container.active { 
  opacity: 1;
  transition: opacity 2s;
}
/*
.preloader-container .preloader-wrapper .spinner-layer {
  border-color: #000000 !important;
}
.preloader-container.dark .preloader-wrapper .spinner-layer {
  border-color: #ffffff !important;
}
*/